<section class="pt-32" id="about-us">
    <section id="about"
        class="relative m-auto mb-20 flex max-w-6xl flex-col items-center gap-10 p-16 md:grid md:grid-cols-2 md:rounded-2xl">
        <img src="https://picsum.photos/id/4/300/400"
            alt="book"
            class=" h-96 w-72 justify-self-center rounded-2xl border-4 border-slate-600 object-cover md:absolute md:right-[60%]">
        <div class="md:col-start-2 md:col-end-3 flex flex-col gap-4">
            <h3 class="text-c mb-3 text-2xl font-extrabold dark:text-gray-200">
                Sobre <span class="border-b-4 border-orange-400">esta Web</span></h3>
            <p class="dark:text-gray-300">
                Esta web fue desarrollado con el objetivo de fomentar la lectura dentro de la comunidad estudiantil.
                Aquí podrás:
            </p>
            <ul class="dark:text-gray-300 list-disc list-inside ml-4">
                <li>Ver la lista de libros disponibles</li>
                <li>Ver los detalles de un libro</li>
                <li>Buscar un libro por su título</li>
            </ul>
        </div>
    </section>
</section>