.bg-secondary {
    --tw-bg-opacity: 1;
    background-color: rgb(93 93 129 / var(--tw-bg-opacity))
}

.hover\:bg-secondary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(93 93 129 / var(--tw-bg-opacity))
}

.line-clamp-3 {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-5 {
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}